<h1>Личный кабинет</h1>
{{!-- Форма для отправки "Описания картинки" и "ссылки на картинку" --}}
  <div class="d-flex justify-content-center" style="padding-top: 30px;"> {{!-- класс стиля формы в Bootstrap --}}
    {{!-- Передаем из пользовательской формы данные на сервер 'action="/images" method="POST"' --}}
    <form class="d-flex flex-column align-items-center" action="/images" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Добавить картинку</label>
        <input name="picture" placeholder="Cсылка на изображение" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Добавить описание</label>
        <textarea name="number" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <br>
    <br>
    <br>
  </div>
{{!-- Выводим карточки с изображениями из нашей БД --}}
<section>
  {{#each listOfContent}}
  <div class="d-flex justify-content-center"> {{!-- класс стиля формы в Bootstrap --}}
    <div class="card" style="width: 22rem;">
      {{!-- сылка на картинку: --}}
      <img src="{{this.picture}}" class="card-img-top" alt="Картинка">
      <div class="card-body">
        <p class="card-text">{{this.number}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</section>
</div>